  




.header-top-container {

}

.header-center-container {

}

.header-center-container__wrapper {
    outline: 5px solid rgba(64, 9, 214, 0.7);
    outline-offset: -15px; 
}

.main-header-navigation__wrapper {
    outline: 5px solid rgba(9, 190, 214, 0.7);
    outline-offset: -15px; 
}






  /* Main footer */

.main-footer {
    outline: 5px solid rgba(255, 0, 0, 0.7);
    outline-offset: -5px;
}    