/* fonts

@font-face {
    font-family: Cuprum;
    font-display: swap;
    src: url("../fonts/cuprum.woff2") format("woff2"), 
    url("../fonts/cuprum.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Cuprum;
    src: url("../fonts/cuprumbold.woff2") format("woff2"), url("../fonts/cuprumbold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: Cuprum;
    src: url("../fonts/cuprumbolditalic.woff2") format("woff2"), url("../fonts/cuprumbolditalic.woff") format("woff");
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: Cuprum;
    src: url("../fonts/cuprumitalic.woff2") format("woff2"), url("../fonts/cuprumitalic.woff") format("woff");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "PT Sans";
    src: url("../fonts/ptsans.woff2") format("woff2"), url("../fonts/ptsans.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "PT Sans";
    src: url("../fonts/ptsansbold.woff2") format("woff2"), url("../fonts/ptsansbold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

*/

/* Variables */

:root {
    --basic-white: #FFFFFF;
    --basic-black: #000000;
    --basic-dark-gray: #A9A9A9;
    --basic-silver: #C5C5C5;
    --basic-dark-silver: #B5B5B5;
    --basic-light: #F3F7F9;
    --basic-white-smoke: #F1F5F7;
    --basic-dark: #293449;
    --basic-midnight-blue: #32425C;
    --basic-neutral-one: #F9F5F0;
    --basic-neutral-two: #F7F3EC;
    --basic-neutral-three: #F4F4F4;
    --basic-neutral-smoke: #F1F1F1;
    --basic-red: #EE3643;
    --basic-forest-green: #63A63E;
    --basic-light-green: #8ED78F;
    --basic-dark-orange: #FFBF47;
    --basic-gold: #FFC047;
    --basic-orange: #FFD180;
    --basic-blue: #3BBCE3;
    --basic-purple: #DC91D8;
    --special-wine-red: #CA2C37;
    --special-maroon: #BA2732;
    --special-green: #5FBB2D;
    --special-dark-green: #518534;
    --special-extra-dark: #161D29;
    --special-black: #444444;
    
}

/* Global */

html {
    font-family: "Cuprum", "PT Sans", sans-serif;
}

.page {
    height: 100%;
}
.page-body {
    min-width: 960px;
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    font-style: normal;
    color: var(--basic-white);
    text-transform: none;
    background-color: var(--basic-white);
    background-image: none;
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

/* Main header */

.main-header {
    margin-bottom: 59px;
}

.main-header.inner-page {
    margin-bottom: 0px;
}

.main-header-bar {
    background-color: var(--basic-dark);
}

/* header-top-container */

.center {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}

.header-top-container {
    color: var(--basic-white);
    background-color: var(--basic-dark);
    align-items: center;
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
    width: 100%;
    height: 42px;
    }

/* main-header__logo */

.main-header__logo {
    display: flex;
    align-items: center;
    height: 47px;
    background-color: var(--basic-red);
    text-align: center;
    padding: 0px 56px;
    box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
}

.main-header__logo:active {
    background-color: var(--special-maroon);
}

.header-top-container a {
    color: inherit;
}

/* main-header__icons */

.icons {
    opacity: 30%;
}

/* main-header__search */

.main-header__search {
    position: relative;
    width: 270px;
    vertical-align: center;
    text-align: center;
    /* padding-left: 42px; */
}

.main-header__search p {
    margin: 0;
}

.main-header__search input {
    position: relative;
    width: 100%;
    border: none;
    /* background-color: white; */
    background-color: var(--basic-dark);
    border: none;
    height: 42px;
    padding-left: 42px;
    outline: none;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.main-header__search .search-icon {
    content: "";
    position: absolute;
    width: 17px;
    height: 17px;
    top: 12px;
    left: 17px;
    background-image: url("../img/icons/icon-search.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 30%;
}

.main-header__search input::placeholder {
    color: var(--basic-white);
}

.main-header__search input:focus ~ .search-icon {
    background-image: url("../img/icons/icon-search-red.svg");
    opacity: 100%;
}

.main-header__search:hover .search-icon {
    opacity: 100%;
}

.main-header__search input:focus {
    color: var(--basic-black);
    background-color: var(--basic-white);
}

/* main-header__bookmark */

.main-header__bookmark {
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
    width: 107px;
    height: 100%;
    padding-left: 43px;
}

.main-header__bookmark::before {
    content: "";
    position: absolute;
    width: 17px;
    height: 17px;
    top: 13px;
    left: 20px;
    background-image: url("../img/icons/icon-bookmark.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 30%;
}

.main-header__bookmark:hover::before {
    opacity: 100%;
}

.main-header__bookmark:active::before {
    opacity: 30%;
}

.main-header__bookmark:active {
    background-color: var(--special-extra-dark);
}
.main-header__bookmark a:active {
    color: rgba(255, 255, 255, 0.5);
}

/* main-header__cart */

.main-header__cart {
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
    width: 101px;
    height: 100%;
    padding-left: 49px;
}

.main-header__cart::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    top: 13px;
    left: 26px;
    background-image: url("../img/icons/icon-cart.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 30%;
}

.main-header__cart:hover:before {
    opacity: 100%;
}

.main-header__cart:active::before {
    opacity: 30%;
}

.main-header__cart:active {
    background-color: var(--special-extra-dark);

}

.main-header__cart a:active {
    color: rgba(255, 255, 255, 0.5);
}

.cart-active,
.bookmark-active {
    background-color: var(--basic-red);
}

/* main-header__order */

.order {
    display: block;
    padding: 9px 16px 9px 19px;
    text-align: center;
    align-items: center;
    background-color: var(--basic-forest-green);
    text-align: center;
}

.order:hover {
    background-color: var(--special-green);
}

.order:active {
    color: rgba(255, 255, 255, 0.5);
    background-color: var(--basic-forest-green);
}

/* header-center-container */

.header-center-container__wrapper {
    background-color: var(--basic-white-smoke);
    height: 278px;
} 

.header-center-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    padding: 42px 0px 40px 0px;
}

/* description */

.main-description {
    color: var(--basic-red);
    font-size: 16px;
    line-height: 23px;
    font-style: italic;
    margin: 0;
    margin-left: 30px;
    margin-right: 94px;
}

/* main-contacts */

.main-contacts {
    display: flex;
    flex-direction: column;
    margin-top: 4px;
    margin-right: 69px;
}

.inner-page .main-contacts {
    margin-right: 51px;
}

.main-contacts__phone {
    border: 3px solid #FFFFFF;
    position: relative;
    text-align: center;   
}

.contacts-phone {
    display: block;
    color: var(--basic-red);
    font-size: 21px;
    line-height: 30px;
    font-weight: 700;
    padding: 4px 42px 5px 71px;
}

.main-contacts__phone::before {
    content: "";
    position: absolute;
    width: 19px;
    height: 19px;
    top: 10px;
    left: 36px;
    background-image: url("../img/icons/icon-phone.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.main-address {
    color: var(--basic-midnight-blue);
    font-size: 14px;
    margin: 0;
    margin-top: 3px;
    padding-left: 10px;
}    

/* login main */

.login-block {
    display: flex;
    margin-top: 4px;
    align-items: start;
    text-align: center;
}

.login-block a { 
    color: var(--basic-black);
    background-color: var(--basic-white);
    font-size: 21px;
    line-height: 21px;
    padding: 0;
    text-align: center;
}

.login-block__link {
    display: block;      
}

.login-block .login {
    position: relative;
    padding: 12px 27px 12px 46px;
    margin-right: 10px;
}

.login-block .login::before{
    content: "";
    position: absolute;
    width: 20px;
    height: 17px;
    top: 14px;
    left: 19px;
    background-image: url("../img/icons/icon-login.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.login-block .login:hover:before {
    background-image: url(../img/icons/icon-login-dark.svg)
}

.login-block .login:active::before {
    background-image: url(../img/icons/icon-login.svg)
}

.login-block .registration {
    padding: 12px 24px;
}

.login-block__link:hover {
    color: var(--basic-red);
}

.login-block__link:focus {
    color: var(--basic-silver);
}

/* profile inner page */

.inner-profile {
    margin-top: 4px;
}

.profile {
    display: flex;
    flex-wrap: wrap;
    width: 299px;
    min-height: 45px;
    align-items: center;
    background-color: var(--basic-white);
}

.profile .user-name {
    display: flex;
    flex-wrap: wrap;
    margin-left: 15px;
    align-items: center;
}

.profile .user-icon {
    padding-right: 21px;
}

.user-name p {
    display: flex;
    flex-wrap: wrap;
    width: 186px;
    align-items: center;
    color: var(--basic-black);
    font-size: 21px;
    line-height: 21px;
    margin: 0;
    padding: 0;
    padding-right: 20px;
}

.user-name p:active {
    color: var(--basic-silver);
}

.user-name:hover path{
    fill: #3D546F;
}

/* logout */

.profile .logout {
    display: block;
}

.logout-icon:hover path{
    fill: #3D546F;
}

/* personal-area */

.personal-area {
    display: flex;
    width: 210px;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
    margin-top: 7px;
    margin-bottom: 0;
    margin-left: 45px;
}

.personal-area a{
    color: var(--basic-midnight-blue);
    font-size: 16px;
    line-height: 18px;
    margin: 0;
    padding: 0;
}

.account {
    position: relative;
}

.account::before {
    position: absolute;
    content: "";
    top: 7px;
    left: -18px;
    width: 4px;
    height: 4px;
    background: #32425C;
    border-radius: 50%;
}

.my-orders:hover,
.account:hover {
    color: var(--basic-red);
}

.my-orders:active,
.account:active {
    color: var(--basic-silver);
}

/* site-header-navigation */

.site-header-navigation__wrapper {
    background-color: var(--basic-midnight-blue);
    box-shadow: inset 0px -5px 0px #293449;
    width: 940px;
    height: 60px;
    margin: 0 auto;
    text-align: center;
}

.site-header-navigation__wrapper ul {
    margin: 0;
    padding: 0;
}

.site-header-navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    list-style: none;
}

.site-header-navigation a {
    display: block;
    color: inherit;
    text-align: center;
    padding-top: 16px;
    padding-bottom: 20px;
}

.site-header-navigation-item__main {
    padding-left: 52px;
    padding-right: 31px;
}

.site-header-navigation-item__company {
    padding-left: 27px;
    padding-right: 24px;
}

.site-header-navigation-item__catalog {
    padding-left: 32px;
    padding-right: 27px;
}

.site-header-navigation-item__news {
    padding-left: 32px;
    padding-right: 27px;
}

.site-header-navigation-item__special-offers {
    padding-left: 30px;
    padding-right: 25px;
}

.site-header-navigation-item__delivery {
    padding-left: 30px;
    padding-right: 25px;
}

.site-header-navigation-item__contacts {
    padding-left: 33px;
    padding-right: 47px;
}

.site-header-navigation a:hover {
    background-color: var(--basic-dark);
}

.site-header-navigation a:active {
    background-color: var(--basic-dark);
    opacity: 0.5;
}

/* MAIN promo-block */

.promo__wrapper {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 123px 123px 123px;
    gap: 20px;
    margin-bottom: 59px;
}

.promo-item {
    position: relative;
    display: flex;
    flex-direction: column;
}

.promo-item p {
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    margin-top: 20px;
    margin-left: 23px;
    margin-bottom: 14px;
}

.promo-item a {
    color: inherit;
    margin-left: 23px;
    margin-bottom: 21px;
    text-align: center;
    line-height: 38px;
}

.materials {
    background-color: var(--basic-dark-orange);
    background-image: url(../img/icons/icon-1.svg);
    background-repeat: no-repeat;
    background-position: 213px 31px;
}

.tools {
    background-color: var(--basic-blue);
    background-image: url(../img/icons/icon-2.svg);
    background-repeat: no-repeat;
    background-position: 194px 34px;
}

.machinery {
    background-color: var(--basic-purple);
    background-image: url(../img/icons/icon-3.svg);
    background-repeat: no-repeat;
    background-position: 191px 31px;
}

.discount {
    background-color: var(--basic-light-green);
    background-image: url(../img/icons/icon-4.svg);
    background-repeat: no-repeat;
    background-position: 196px 26px;
}

.promo-delivery {
    background-color: var(--basic-dark-orange);
    background-image: url(../img/icons/icon-5.svg);
    background-repeat: no-repeat;
    background-position: 191px 32px;
}

.promo-button {
    display: block;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    background-color: rgba(255, 255, 255, 0.3);
    width: 135px;
}

.promo-button:hover {
    background-color: var(--basic-silver);
    opacity: 0.3;
}

.promo-button:active {
    background-color: var(--basic-dark-gray);
    opacity: 0.3;
}

.promo-new::before {
    content: "";
    position: absolute;
    width: 70px;
    height: 70px;
    top: 0px;
    right: 0px;
    background-image: url("../img/icons/icon-new.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

/*promo slider */

.slider-wrapper {
    position: relative;
    grid-column: 1/-2;
    grid-row: 2/-1;
    width: 620px;
    height: 266px;
    background-repeat: no-repeat;
    background-color: var(--basic-silver);
}

.slider-wrapper-1 {
    background-image: url("../img/slider_item_1.jpg");
}

.slider-wrapper-2 {
    background-image: url("../img/slider_item_2.jpg");
}

.slider-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.slider-list li {
    width: 620px;
    height: 266px;
}

.slide-title {
    font-size: 36px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 auto;
    padding: 23px 356px 5px 24px;
}

.further-details {
    margin: 0 auto;
    padding: 0 24px;
}

.slide-button {
    position: absolute;
    left: 24px;
    bottom: 27px;
    color: inherit;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    vertical-align: bottom;
    text-transform: uppercase;
    background-color: var(--basic-red);
    padding: 12px 44px;
    text-decoration: none;  
} 

.slider-controls {
    position: absolute;
    left: calc(50% - 16px);
    bottom: 36px;
    display: flex;
    width: 32px;
    justify-content: space-between;
    align-items: center;
}
  
.slider-controls button {
    padding: 0;
    width: 10px;
    height: 10px;
    background-color: var(--basic-red);
    border: 2px solid #ffffff;
    border-radius: 50%;
    cursor: pointer;
}

.slider-controls .current {
    background-color: #ffffff;
}

.next-prev-controls button {
    position: absolute;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.slider-control-prev {
    left: 24px;
    bottom: 104px;
    width: 22px;
    height: 40px;
    background-image: url(../img/icons/icon-left.png);
    background-repeat: no-repeat;
}

.slider-control-next {
    left: 578px;
    bottom: 104px;
    width: 22px;
    height: 40px;
    background-image: url(../img/icons/icon-right.png);
    background-repeat: no-repeat;
}

.slide {
    display: none;
}

.slide-current {
    display: block;
}

/* button */

.button {
    display: block;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    background-color: var(--basic-red);
    text-decoration: none;
    border: none;
    cursor: pointer;
}

.button:hover {
    background-color: var(--special-wine-red);
}

.button:active {
    background-color: var(--special-maroon);
}

/* products-top */

.products-top {
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    background-color: var(--basic-neutral-one);
    height: 89px;
    margin-bottom: 20px;
}

.products-top h2 {
    font-size: 30px;
    line-height: 30px;
    color: var(--basic-midnight-blue);
    text-transform: uppercase;
    margin-left: 28px;
    letter-spacing: -0.9px;
}

.products-top a {
    color: inherit;
    margin-right: 14px;
    padding: 11px 24px 9px 24px;
}  

/* products-top-list */

.main-products-top {
    margin-bottom: 50px;
}

.products-top-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.products-top-list .product-card {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 218px;
    min-height: 316px;
    margin-right: 20px;
    margin-bottom: 20px;
    align-content: center;
    border: 1px solid #EAEAEA;
}

.products-top-list .product-card:nth-child(4n) {
    margin-right: 0;
}

.product-card__img {
    order: 0;
    height: 178px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-card__bottom {
    order: 1;
}

.price-before-discount {
    font-family: "PT Sans";
    font-size: 17px;
    line-height: 18px;
    font-weight: 700;
    color: var(--basic-dark-gray);
    text-align: center;
    height: 18px;
    padding: 0;
    margin: 0;
    margin-bottom: 13px;
}

/* main-sellers-top */

.main-sellers-top {
    margin-bottom: 70px;
}

.sellers-top {
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    background-color: var(--basic-neutral-one);
    width: 940px;
    height: 89px;
    margin-bottom: 20px;
}

.sellers-top h2 {
    font-size: 30px;
    line-height: 30px;
    color: var(--basic-midnight-blue);
    text-transform: uppercase;
    margin-left: 28px;
    letter-spacing: -0.9px;
}

.sellers-top a {
    color: inherit;
    margin-right: 19px;
    padding: 11px 38px 9px 39px;
}  

.sellers-top-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(4, 220px);
    gap: 20px;
}

.sellers-top-list a {
    display: block;
}

.sellers-top-item {
    display: flex;
    border: 1px solid #EAEAEA;
    height: 145px;
    width: 100%;
    align-items: center;
    justify-content: center;
}


.sellers-top-list li:hover {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
    /* filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15)); */
}

.sellers-top-item:active {
    opacity: 0.5;
}

/* service-list */

.main-service-wrepper {
    background-color: var(--basic-white-smoke);
    width: 100%;
}

.main-service-list {
    position: relative;
    margin-bottom: 70px;
}

.service-description h2 {
    color: var(--basic-black);
    font-size: 30px;
    line-height: 30px;
    letter-spacing: -0.9px;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    padding-top: 64px;
}

.service-description p {
    font-family: "PT Sans";
    font-size: 13px;
    line-height: 24px;
    color: var(--basic-black);
    margin: 0;
    padding: 0;
    padding-top: 25px;
    padding-bottom: 67px;
}

/* service-slider */

.service-slider {
    position: relative;
    display: grid;
    grid-template-columns: 300px 1fr;
    gap: 20px;
}

.service-slider-list {
    grid-column: 2/3;
    grid-row: 1/2;
    margin: 0;
    padding: 0;
    list-style: none;
}

.service-slide {
    display: none;
}

.service-slide-current {
    display: block;
}

.service-slide-title {
    color: var(--basic-midnight-blue);
    font-size: 30px;
    line-height: 30px;
    letter-spacing: -0.9px;
    text-transform: uppercase;
    margin: 0;
}

.service-slider-item p {
    font-family: "PT Sans";
    font-size: 13px;
    line-height: 24px;
    color: var(--basic-black);
    margin: 0;
    margin-top: 30px;
}

.service-slider-controls {
    grid-column: 1/2;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 240px;
    margin-top: 3px;
    margin-bottom: 99px;
}

.service-slider-controls button {
    display: block;
    height: 61px;
    text-align: start;
    color: inherit;
    font-size: 21px;
    line-height: 30px;
    font-weight: 700;
    background-color: var(--basic-midnight-blue);
    box-shadow: 0px 1px 0px #293449, inset 0px 1px 0px #405069;
    padding-left: 22px;
    margin-bottom: 1px;
    border: none;
    cursor: pointer;
}

.service-slider-controls button:last-child {
    margin-bottom: 0;
}

.service-slider-controls button:hover {
    color: var(--basic-white);
    background-color: var(--basic-dark);
    box-shadow: 0px 1px 0px #293449, inset 0px 1px 0px #405069;
    border: none;
}

.service-slider-controls button:active {
    color: var(--basic-white);
    background-color: var(--basic-dark);
    box-shadow: 0px 1px 0px #293449, inset 0px 1px 0px #405069;
    border: none;
}

.service-slider-controls .service-current {
    color: var(--basic-midnight-blue);
    background-color: var(--basic-white);
    box-shadow: 0px 1px 0px #FFFFFF, inset 0px 1px 0px #FFFFFF;
}

.service-slider-list {
    position: relative;
}

.service-slider-list::before {
    content: "";
    position: absolute;
    width: 468px;
    height: 261px;
    top: 22px;
    right: 0px;
    background-image: url("../img/icons/truck.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.main-service-list::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 279px;
    top: 189px;
    left: 230px;
    background-image: url("../img/line.png");
    background-repeat: no-repeat;
    background-position: 0 0;
}

/* index-columns */

.index-columns {
    display: grid;
    grid-template-columns: 620px 300px;
    gap: 20px;
    margin-bottom: 70px;
}

.index-columns h2 {
    font-size: 30px;
    line-height: 30px;
    letter-spacing: -0.9px;
    text-transform: uppercase;
    color: var(--basic-black);
    margin: 0;
    margin-bottom: 24px;
    
}

.index-columns p {
    font-family: PT Sans;
    font-size: 13px;
    line-height: 24px;
    color: var(--basic-black);
    margin: 0;
    margin-bottom: 24px;
}

.about-shipping p {
    margin-bottom: 0;
}

.shipping-companies-list {
    /* list-style-image: url(../img/list-style.svg); */
    list-style: none;
    margin: 0;
    margin-bottom: 20px;
    padding-left: 37px;
}

.shipping-companies-item {
    color: var(--basic-black);
    position: relative;
}

.shipping-companies-item::before {
    position: absolute;
    content: "";
    top: 50%;
    left: -37px;
    width: 25px;
    height: 2px;
    background-color: red;
}

.about-company .button {
    width: 220px;
    line-height: 38px;
}

.index-columns a {
    color: inherit;
}

.about-company li {
    margin-top: 1px;
    margin-bottom: 12px;
}

.contacts-map .button {
    width: 300px;
    line-height: 38px;
}

.contacts-map img {
    margin-bottom: 25px;
}

/* FOOTER */

/* main-footer-top-container */

.main-footer-top__wrapper {
    background-color: var(--basic-midnight-blue);
}

.main-footer-top-container {
    display: flex;
    padding-bottom: 54px;
}

.footer-logo {
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-right: 70px;
}

.main-footer-logo {
    display: block;
    width: 138px;
    height: 23px;
    margin: 0;
    display: block;
    padding: 20px 41px 25px 41px;
    text-align: center;
    justify-content: center;
    background-color: var(--basic-red);
    box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
}

.footer-address {
    color: var(--basic-white-smoke);
    margin: 0;
    margin-top: 22px;
    padding-left: 3px;
    min-width: 323px;
}

.footer-navigation ul {
    padding: 0;
    margin: 0;
}

.footer-navigation li {
    list-style: none;
}

.top-footer-navigation-list{
    display: flex;
    flex-wrap: wrap;
    width: 546px;
    justify-content: space-between;
}

.top-footer-navigation-item {
    margin-top: 37px;
}

.bottom-footer-navigation-list {
    display: flex;
    flex-wrap: wrap;
    width: 546px;
    justify-content: space-between;
    padding: 0;
}

.bottom-footer-navigation-item {
    margin-top: 34px;
    margin-left: 22px;
}

.top-footer-navigation-item a {
    color: var(--basic-light);
}

.bottom-footer-navigation a {
    color: var(--basic-orange);
}

.top-footer-navigation-item:hover,
.bottom-footer-navigation-item:hover {
    text-decoration: underline;
}

.top-footer-navigation-item:active,
.bottom-footer-navigation-item:active {
    opacity: 0.5;
    text-decoration: none;
}

/* main-footer-bottom-container */

.main-footer-bottom__wrapper {
    background-color: var(--basic-dark);
}

.main-footer-bottom-container {
    display: flex;
    justify-content: space-between;
    min-height: 107px;
}

/* all-rights-reserved */

.all-rights-reserved p {
    display: block;
    font-size: 16px;
    line-height: 18px;
    min-height: 37px;
    margin: 0;
    padding: 0px;
    padding-top: 36px;
    width: 227px;
    /* padding-left: 1px; */
    margin-right: 155px;
}

/* footer-social */

.footer-social {
    width: 134px;
    justify-self: center;
    text-align: center;
    padding-top: 34px;
    margin-right: 118px;
}

.footer-social ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.social-button {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 134px;
    width: 42px;
    height: 42px;
    padding: 1px;
    background-color: #212A3A;
    border-radius: 50%;
    color: inherit;
    margin-left: 1px;
}

.social-button:hover,
.social-button:focus {
    background-color: var(--basic-red);
}

/* footer-feedback */

.footer-feedback p,
.footer-copyright p {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 18px;
    padding-top: 35px;
}

.footer-feedback a,
.footer-copyright a {
    color: var(--basic-orange);
    font-size: 16px;
    line-height: 18px;
}

.footer-feedback {
    margin-right: 51px;
}

.footer-feedback-mail:hover,
.copyright-holder:hover {
    text-decoration: underline;
}

.footer-feedback-mail:focus,
.copyright-holder:focus {
    color: var(--special-wine-red);
    text-decoration: none;
}

/* Grid for catalog */

.page-catalog {
    display: grid;
    grid-template-columns: 220px 1fr;
    gap: 20px;
    align-content: start;
}
  
.page-catalog .page-title {
    grid-column: 1/-1;
    grid-row: 2/3;
    height: 60px;
    width: 911px;
    color: var(--basic-midnight-blue);
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    background-color: var(--basic-white-smoke);
    padding-left: 29px;
    padding-top: 29px;
    margin: 0;
}
  
/* Breadcrumbs */

.page-catalog .breadcrumbs {
    margin: 0;
    padding: 0;
    grid-column: 1/-1;
    grid-row: 1/2;
    width: 940px;
    list-style: none;
}
 
.breadcrumbs {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.breadcrumbs a,
.breadcrumbs li,
.breadcrumbs-current {
    color: var(--basic-black);
    font-family: "PT Sans";
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    letter-spacing: 0.2px;
}

.breadcrumbs li {
    position: relative;
    margin-top: 21px;
    margin-right: 40px;
}

.breadcrumbs li:last-child {
    margin-right: 0;
}

.breadcrumbs li::after {
    content: "";
    position: absolute;
    width: 8px;
    height: 12px;
    top: 3px;
    right: -25px;
    background-image: url(../img/icons/shape.svg);
    background-position: 0 0;
}

.breadcrumbs-current::after {
    display: none;
}

/* filters */

.filters {
    width: 220px;
}

.filter fieldset {
    padding: 0;
    margin: 0;
    border: none;
}

.filter fieldset:first-child {
    margin-bottom: 42px;
}

.filter fieldset:nth-child(2) {
    margin-bottom: 46px;
}

.filter fieldset:nth-child(3) {
    margin-bottom: 37px;
}

.filters h2,
.main-sort-container h2 {
    color: var(--basic-black);
    font-family: "PT Sans";
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    text-transform: uppercase;
    background-color: var(--basic-neutral-two);
}

.filters h2 {
    display: block;
    margin: 0;
    padding-top: 10px;
    padding-left: 18px;
    padding-bottom: 10px;
    margin-bottom: 14px;
}

.filter-items {
    margin: 0;
    padding: 0;
    border: none;
}

.filter ul {
    list-style: none;
    color: var(--basic-black);
    font-family: "PT Sans";
    font-size: 15px;
    line-height: 19px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}

.filter-items legend {
    color: var(--basic-black);
    font-family: "PT Sans";
    font-size: 17px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
}

/* range-filter */

.range-filter {
    width: 220px;
    margin-top: 11px;
}

.range-controls {
    position: relative;
    height: 41px;
    padding-top: 39px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: var(--basic-neutral-two);
    margin-bottom: 9px;
}

.range-controls .scale {
    height: 2px;
    background: #d7dcde;
}

.range-controls .bar {
    width: 152px;
    height: 2px;
    background: #00ca74;
}

.range-controls .toggle {
    width: 4px;
    height: 4px;
    padding: 0;
    border: 8px solid #ffffff;
    background-color: #ababab;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 #cfcfcf;
    position: absolute;
    top: 29px;
    left: 0;
    cursor: pointer;
}

.range-controls .toggle-min {
    left: 18px;
}

.range-controls .toggle-max {
    left: 160px;
}

.price-controls label {
    color: var(--basic-black);
    font-family: "PT Sans";
    font-size: 17px;
    line-height: 18px;
    text-transform: uppercase;
    text-align: center;
}

.price-controls input {
    color: var(--basic-black);
    font-family: "PT Sans";
    font-size: 17px;
    line-height: 18px;
    background-color: var(--basic-neutral-two);
    text-transform: uppercase;
    width: 61px;
    padding: 10px;
    padding-left: 24px;
    text-align: center;
    border: none;
}

.price-controls {
    display: flex;
    justify-content: space-between;
}

.price-controls svg {
    margin-top: 16px;
}

/* filter-manufacturers 
 filter-power */

.filter-option {
    margin-bottom: 20px;
    padding-left: 35px;
}

.filter-option:last-child {
    margin-bottom: 0px;
}

.filter-option label {
    position: relative;
    display: block;
    cursor: pointer;
    user-select: none;
}

.filter-manufacturers {
    margin-bottom: 17px;
}

.filter-power {
    margin-bottom: 23px;
}

.filter-input-checkbox + label::before {
    content: "";
    position: absolute;
    left: -34px;
    top: -2px;
    width: 23px;
    height: 23px;
    background-image: url("../img/checkbox-off.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.filter-input-checkbox + label:hover::before {
    /* background-image: url("../img/checkbox-off-hover.svg"); */
    filter: brightness(90%);
}

.filter-input-checkbox:checked + label::before {
    content: "";
    position: absolute;
    top: -2px;
    left: -34px;
    width: 27px;
    height: 23px;
    background-image: url("../img/checkbox-on.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.filter-input-radio + label::before {
    content: "";
    position: absolute;
    left: -34px;
    top: -5px;
    width: 17px;
    height: 17px;
    border: 4px solid #C5C5C5;
    border-radius: 50%;
}

.filter-input-radio:checked + label::after {
    content: "";
    position: absolute;
    top: 3px;
    left: -26px;
    width: 9px;
    height: 9px;
    background-color: #C5C5C5;
    border-radius: 50%;
}

.filter-input-radio:hover + label::after, .filter-input-radio:hover + label::before  {
    filter: brightness(90%);
}

.filter-input-checkbox:hover,
.filter-input-checkbox:focus,
.filter-input-radio:hover,
.filter-input-radio:focus {
    color: var(--basic-dark-silver);
}

.submit-button {
    font-family: "PT Sans";
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    width: 220px;
    height: 38px;
    background-color: var(--basic-white);
    border: 1px solid #E5E5E5;
}

/* main-sort-container */

.main-sort-container {
    grid-column: 2/-1;
    width: 700px;
    height: 38px;
    display: flex;
    align-items: center;
    background-color: var(--basic-neutral-two);
}
  
.main-sort-container ul {
    list-style: none;
    margin: 0;
    padding: 0;
    color: var(--basic-black);
    margin-right: 32px;
}

.sorting-attribute-list{
    display: flex;
    flex-wrap: wrap;
    min-width: 354px;
    justify-content: space-between;
}

.main-sort-container h2 {
    padding-left: 20px;
    margin-right: 140px;
}

.sorting-attribute {
    font-family: "PT Sans";
    font-size: 13px;
    line-height: 18px;
    opacity: 0.3;
    text-transform: uppercase;
    border-bottom: 1px dashed var(--basic-red);
    cursor: pointer;
}

.sorting-attribute:hover {
    border-bottom: 1px  solid var(--basic-red);
    opacity: 1;
}

.sorting-attribute-list .active {
    border-bottom: none;
    color: var(--basic-red);
    opacity: 1;
}

.sorting-controls {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 64px;
    cursor: pointer;
}

.sorting-control-up:hover path {
    fill: #000000;
}

.sorting-control-down:hover path {
    fill: #000000;
}

.sorting-controls .active path {
    fill: #EE3643;
}

/* Catalog */

.catalog {
    grid-column: 2/-1;
    margin-top: 28px;
}

.catalog-list {
    display: grid;
    width: 700px;
    grid-template-columns: 220px 220px 220px;
    gap: 20px;
    padding: 0;
    margin: 0;
}

.product-card {
    position: relative;
    display: grid;
    grid-template-rows: 178px 1fr;
    width: 218px;
    min-height: 316px;
    border: 1px solid #EAEAEA;
    cursor: pointer;
}

.product-card__top {
    grid-row: 1/2;
    margin: 0;
    padding: 0;
    height: 178px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-card-title {
    color: var(--basic-black);
    font-family: "PT Sans";
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    height: 43px;
    width: 185px;
    margin: 0;
    margin-left: 18px;
    margin-bottom: 7px;
    padding: 0;
}

.price-after-discount {
    display: block;
    font-family: "PT Sans";
    font-weight: 700;
    font-size: 17px;
    line-height: 18px;
    margin: 0;
    padding: 0;
    padding-left: 32px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 45px;
    text-transform: uppercase;
    background-image: url(../img/red-button.png);
    background-repeat: no-repeat;
} 

.product-card__top__face1 {
    margin: 0;
    padding: 0;
}

.product-card__top__face2 {
    display: none;
    width: 218px;
    height: 178px;
    margin: 0;
    padding: 0;
}

.button-buy,
.button-add-to-bookmarks {
    display: block;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    width: 135px;
    height: 38px;
    margin: 0 auto;
    padding: 0;
    border-radius: 2px;
    cursor: pointer;
}

.button-buy {
    color: inherit;
    margin: 38px auto 10px;
    background-color: var(--basic-forest-green);
    box-shadow: inset 0px -3px 0px #367315;
    border: none;
}

.button-buy:hover {
    background: #5FBB2D;
}

.button-buy:active,
.button-buy:focus {
    background: #518534;
}

.button-add-to-bookmarks {
    color: var(--basic-midnight-blue);
    background-color: var(--basic-white);
    border: 3px solid #63A63E;
}

.button-add-to-bookmarks:hover{
    border: 3px solid #32425C;
}

.button-add-to-bookmarks:active,
.button-add-to-bookmarks:focus {
    border: 3px solid #32425C;
    opacity: 0.5;
}

.product-card:hover .product-card__top__face1 {
    display: none;
}

.product-card:hover .product-card__top__face2 {
    display: block;
}

/* Pagination */

.pagination-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 43px;
    margin-bottom: 59px;
}

.pagination-item a {
    display: block;
    color: var(--basic-black);
    font-family: "PT Sans";
    font-size: 13px;
    line-height: 18px;
    background-color: var(--basic-white);
    padding: 9px 14px;
    border: 1px solid #E5E5E5;
    border-radius: 2px;
    margin-right: 10px;
    margin-bottom: 10px;
    text-align: center;
    text-transform: uppercase;
}

.pagination-item.next {
    width: 140px;
}
  
.pagination-item a:hover {
    border: 1px solid #C5C5C5;
    border-radius: 2px;
}

.pagination-item a:focus,
.pagination-item a:active {
    border: 1px solid #EE3643;
    border-radius: 2px;
}

.pagination-item-current a,
.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
    color: var(--basic-white);
    background-color: var(--basic-red);
}

/* about-perforator */

.about-perforator__wrapper {
    background-color: var(--basic-white-smoke);
}

.about-perforator {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
    padding-top: 64px;
}

.about-perforator h2 {
    color: var(--basic-black);
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}

.about-perforator p {
    color: var(--basic-black);
    font-family: "PT Sans";
    font-size: 13px;
    line-height: 24px;
    margin: 0;
    padding: 0;
    padding-top: 25px;
    padding-bottom: 68px;
}

/* Modal */

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    color: var(--basic-black);
    background-color: var(--basic-white);
    background-position: 0 0;
    background-repeat: repeat;
    border-top: 7px solid var(--basic-red);
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.75);
}

/* Modal-close */

.modal-close-button {
    position: absolute;
    top: 14px;
    right: 21px;
    width: 21px;
    height: 21px;
    background-color: red;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}



/* .modal-close-button:active {
    border: none;    
} */

/* modal-feedback */

.modal-feedback {
    display: none;
    top: 120px;
    bottom: auto;
    width: 620px;
    height: 430px;
}

.form-feedback .modal-feedback-top {
    width: 460px;
    background-color: var(--basic-white);
    padding: 39px 80px 0 80px;
}

.modal-feedback-top input[type="text"], 
.feedback-messege {
    color: var(--basic-dark-gray);
    font-family: "PT Sans";
    font-size: 13px;
    line-height: 24px;
    color: var(--basic-black);
    border: 2px solid #C5C5C5;
}

.modal-feedback-top {
    display: flex;
    flex-wrap: wrap;
}

.modal-feedback-top p {
    margin: 0;
    display: flex;
    flex-direction: column;
}

.modal-feedback-top p:first-child {
    width: 220px;
    margin-bottom: 13px;
    margin-right: 20px;
    display: flex;
}

.modal-feedback-top p:nth-child(2) {
    width: 220px;
    margin-bottom: 13px;
}

.modal-feedback-top p:nth-child(3) {
    margin-bottom: 37px;
    width: 460px;
}

.modal-feedback-top label {
    padding-bottom: 11px;
}

.modal-feedback-top .feedback-user-data {
    height: 36px;
    padding-left: 12px;
}

.modal-feedback-top .feedback-messege {
    color: var(--basic-dark-gray);
    height: 102px;
    padding-left: 12px;
    padding-top: 6px;
}

.feedback-messege:active {
    color: var(--basic-black);
}

.modal-feedback-bottom {
    margin: 0;
    padding: 0;
    width: 620px;
    height: 112px;
    background-color: var(--basic-neutral-three);
}

.modal-feedback-bottom .button {
    display: inline-block;
    width: 460px;
    height: 38px;
    margin: 0;
    padding: 0;
    margin-top: 37px;
    margin-left: 80px;
    color: var(--basic-white);
    border: none;
}

/* Modal map */

.modal-map {
    display: none;
    width: 943px;
    height: 442px;
}

.modal-map iframe {
    display: block;
    border: none
}

/* Modal cart */

.modal-cart {
    display: none;
    top: 120px;
    bottom: auto;
    width: 620px;
    height: 275px;
}

.modal-cart-top {
    position: relative;
    min-height: 163px;
}

.modal-cart-top::before {
    content: "";
    position: absolute;
    width: 66px;
    height: 66px;
    top: 48px;
    left: 81px;
    background-image: url(../img/icons/icon-mark.svg);
    background-position: 0 0;
    background-repeat: no-repeat;
}

.modal-cart-top p {
    display: block;
    line-height: 30px;
    font-size: 24px;
    font-weight: 700;
    padding-top: 66px;
    margin: 0 auto;
    text-align: center;
}

.modal-cart-bottom {
    display: flex;
    min-height: 112px;
    justify-content: center;
    align-items: center;
    background-color: var(--basic-neutral-smoke);
}

.modal-cart-bottom .modal-button {
    font-size: 14px;
    line-height: 18px;
    width: 192px;
    height: 38px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
}

.modal-cart-bottom .make-an-order {
    color: var(--basic-white);
    background-color: var(--basic-red);
    margin-right: 10px;
}

.modal-cart-bottom .continue-shopping {
    background-color: var(--basic-white);
}



/* Animations */

@keyframes bounce {
    0% {
      transform: translateY(-2000px);
    }
  
    70% {
      transform: translateY(30px);
    }
  
    90% {
      transform: translateY(-10px);
    }
  
    100% {
      transform: translateY(0);
    }
}

@keyframes shake {
    0%,
    100% {
      transform: translateX(0);
    }
  
    10%,
    30%,
    50%,
    70%,
    90% {
      transform: translateX(-10px);
    }
  
    20%,
    40%,
    60%,
    80% {
      transform: translateX(10px);
    }
}

.modal-show {
    display: block;
    animation: bounce 0.6s;
}

.modal-error {
    animation: shake 0.6s;
}